<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>this is home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis soluta
      numquam distinctio voluptatibus blanditiis eaque quibusdam. Doloribus,
      nesciunt. Voluptatibus quo eligendi excepturi asperiores facilis enim cum
      harum maxime fugiat ipsam. Animi doloribus nam dolor libero qui commodi
      inventore eligendi aut quibusdam omnis. Ipsa, dolorum nisi labore rerum at
      possimus dolores, veritatis commodi eum qui, obcaecati molestias similique
      ut molestiae reiciendis. Inventore sequi eos numquam aliquam iure
      cupiditate repellat libero, enim eligendi velit tempore, rerum facilis.
      Nobis modi atque porro nulla perspiciatis. Rem, nam fugiat. Dignissimos
      facilis in aliquid optio necessitatibus. Reprehenderit laudantium itaque,
      mollitia officia asperiores iure minima ipsam cupiditate iusto deserunt
      alias quisquam, rem aperiam, quo numquam? Ullam sapiente molestiae, omnis
      voluptatem dolore vero hic eius provident iusto assumenda? Iste
      consequatur quia ipsam soluta deleniti dignissimos illum. Vero, ea nostrum
      molestiae aut tenetur harum quos pariatur quibusdam nesciunt dicta
      incidunt exercitationem provident quae! Perferendis, commodi aliquid!
      Eligendi, et nesciunt!
    </p>
    <button>click me!</button>
  </body>
</html>
